*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{ 
    background-color: white;
    background-image: url('img/5594016.jpg');
}

form{
    background-color: rgba(47,47,47,.5);
    width: 700px;
    height: 750px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid white;
    display: flex;
    font-family: "IBM Plex Mono", monospace;
    justify-content: center;
    color: white;
    border-radius: 50px;
    border: double 4px transparent;
    background-image: linear-gradient(rgba(47,47,47,.8),rgb(47,47,47)), radial-gradient(circle at top , rgba(255,233,0,.10), rgba(255,233,0,.6));
    background-origin: border-box;
    background-clip: content-box, border-box;
}


hr{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(255,233,0);
    margin-bottom: 20px;
    width: 220px;
}

.container{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
}

input{
    width: 530px;
    height: 40px;
    padding-left: 10px;
    font-family: "IBM Plex Mono", monospace;
    border: none;
    background: none;
    cursor: pointer;
    margin: auto;
    border-bottom: 2px solid black;
    font-size: 20px;
    margin-left: 15px;
    color: rgb(255,233,0);
}

input:focus {
    outline: none;
    transition: 0.5s ease-in-out;
    border-bottom: 2px solid rgb(255,233,0);  
}

input:invalid{
    border-bottom: 2px solid rgb(227,38,54);  
}

::placeholder {
	color:#cbd0d5;
    font-size: 16px;
}

p{
    font-size: 18px;
    padding-left: 20px;
    color: rgb(255,233,0);
    font-weight: 800;
    letter-spacing: 1px;
}

.butt{
    background: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(47,47,47);
    padding: 14px 10px;
    outline: none;
    border-radius: 24px;
    width:270px;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: rgb(255,233,0);
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 3px;
}

.butt:hover{
    transition: 0.4s ease-in-out;
    box-shadow: 1px 1px 20px rgb(255, 255, 240);
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 20px;
    align-items: center;
}

.butt1{
    width: 300px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    gap: 30px;
    font-size: 18px;
    color: white;
    border-radius: 30px;
}

.butt1:hover{
    transition: 0.4s ease-in-out;
    box-shadow: 1px 1px 20px rgb(255, 255, 240);
}

div{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

a{
    text-decoration: none;
    color: white;
}

